.ant-input-group-addon {
  padding-left: 0 !important;
}

.ant-input-group-wrapper {
  margin-top: 5px !important;
  display: block !important;
}

.ant-alert {
  margin-top: 5px !important;
}

.ant-select-show-search {
  width: 140px !important;
  margin-left: 11px;
  padding-left: 0;
}

.ant-input-group-addon {
  width: 150px !important;
}

.ant-select {
  margin: 0 !important;
}

.sending-container {
  margin: 0 auto;
  display: block;
  width: 500px;
  background-color: azure;
}

.searching-container {
  margin: 50px auto 10px auto;
  display: flex;
  width: 600px;
  gap: 10px;
}

.ant-table-body {
  max-height: 100% !important;
}

.withdrawal-header {
  color: rgb(255, 91, 91);
}

.deposit-header {
  color: aquamarine;
}
